body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

.container {
  width: 420px;
  margin: 120px auto;
  background: #020617;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input {
  width: 90%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 20px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

#answer {
  margin-top: 20px;
  font-weight: bold;
  color: #38bdf8;
}
